.calcContainer {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 60vw;
    max-width: 500px;
    min-width: 250px;
    height: 80vw;
    max-height: 600px;
    min-height: 350px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 5px;
    padding: 15px;
    border: 1px inset rgb(77, 77, 77);
    background: rgb(104, 104, 104);
    border-radius: 5px;
    overflow: hidden;
}

button {
    background: rgb(212, 212, 212);
    font-size: 20px;
    max-width: 100%;
}

#display {
    display: flex;
    justify-content: right;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 10px 0;
    border: 1px inset rgb(151, 151, 151);
    background: rgb(212, 212, 212);
    min-height: 40px;
    max-width: 100%;
}

#display h1 {
    font-family: 'Oxanium', cursive;
    font-size: 55px;
    margin: 0 5px 0 auto;
}

#percentage {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#reset {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#delete {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

#one { 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#two { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

#three { 
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

#four { 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

#five { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

#six { 
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

#seven { 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
}

#eight { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}

#nine { 
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

#zero { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero {
    background: white;
}

#add { 
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

#subtract { 
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}

#multiply { 
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
}

#divide { 
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
}

#equals {
    background: rgba(69, 206, 69, 0.795);
}

#equals { 
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
}

#decimal {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
}





@media screen and (max-width: 650px) {

    .calcContainer {
        width: 90vw;
        height: 90vh;
        max-height: 600px;
        min-height: 350px;

  }
